{% extends 'base.html.twig' %}

{% block title %}Création d'une élection
{% endblock %}

{% block body %}
	{# Fil d'arianne #}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>

		<div class="fr-collapse" id="breadcrumb">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" id="segment-1" aria-current="page" href="/election/create">Création d'une élection</a>
				</li>
			</ol>
		</div>
	</nav>
	{# Fin fil d'arianne #}

	<h2 class="fr-mt-2w">
		Création d'une élection
	</h2>

	<p class="fr-text--sm fr-mb-1w">
		Ce formulaire vous permet de créer une élection.
		<br>
		Vous devez lui donner un titre, par exemple: "Élection du conseil d'administration du Cercle-Mixte Gendarmerie de Baie-Mahaut".
		<br>
		Vous pouvez fournir des renseignements utiles aux électeurs, tels qu'une note de service, une référence de courriel, etc...
		<br>
		Vous devez préciser:
		<ul>
			<li>la date et l'heure d'ouverture des votes,</li>
			<li>la date et l'heure de clôture des votes,</li>
			<li>les personnels autorisés à participer au vote (unité, corps d'appartenance, etc...).</li>
		</ul>
	</p>

	<main class="fr-container">

		{{ form_start(form) }}

		{{ form_rest(form) }}

		<ul class="fr-mt-4w fr-btns-group fr-btns-group--inline-md">

			<li>
				<!-- Bouton d'ouverture de la modale -->
				<button class="fr-btn fr-btn--secondary" data-fr-opened="false" aria-controls="fr-modal--reset">
					Réinitialiser le formulaire
				</button>

			</li>

			<li>
				<button type="submit" class="fr-btn">
					Enregister cette élection
				</button>
			</li>

		</ul>

		{# MODALE DE CONFIRMATION DE RÉINITIALISATION DU FORMULAIRE #}
		<dialog aria-labelledby="fr-modal--reset-title" id="fr-modal--reset" class="fr-modal" role="dialog">
			<div class="fr-container fr-container--fluid fr-container-md">
				<div class="fr-grid-row fr-grid-row--center">
					<div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
						<div class="fr-modal__body">
							<div class="fr-modal__header">
								<button class="fr-btn--close fr-btn" aria-controls="fr-modal--reset">
									Fermer
								</button>
							</div>
							<div class="fr-modal__content">
								<h1 id="fr-modal--reset-title" class="fr-modal__title">
									<span class="fr-icon-arrow-right-line fr-icon--lg"></span>
									Confirmer
								</h1>
								<p>
									Vous allez réinitialiser le formulaire.
									<br/>
									Tous les champs remplis précédemment vont être effacés.
									<br/>
									Cliquez sur le bouton ci-dessous pour confirmer cette action.
								</p>
							</div>
							<div class="fr-modal__footer">
								<div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
									<button type="reset" class="fr-btn--close fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left fr-btn--secondary" aria-controls="fr-modal--reset">
										Réinitialiser le formulaire
									</button>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</dialog>

		{{ form_end(form) }}
	</main>

{% endblock %}
