@use "./colors";

.fr-container main {
    min-height: 45em;
}

.election-hidden {
    display: none;
}

.print-all .election-hidden {
    display: block;
}

.center {
    text-align: center !important;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.fr-mb-0 {
    margin-bottom: 0 !important;
}

.fr-ml-0 {
    margin-left: 0 !important;
}

[type="submit"],
[type="reset"] {
    z-index: 1000;
}

.fr-quote.fr-quote--green-menthe.fr-quote--column {
    min-height: 5rem;
}

fieldset.custom-form-disable {
    display: contents;

    &:disabled .fr-stepper {
        display: none;
    }

    &:disabled .fr-hidden:not(.fr-highlight) {
        display: block !important;
    }
}

.custom-link--icon {
    position: absolute;
    bottom: -1.5rem;
    text-align: center;
    width: 100%;
    color: var(--text-action-high-red-marianne);
}

.fr-highlight .fr-checkbox-group {
    padding: 1px 0;
}

.custom-card-container {
    & .fr-tile.fr-enlarge-link {
        max-height: 475px;
    }

    & .custom-tile-menu {
        position: absolute;
        bottom: 3px;
        left: -1px;
        width: 100%;
        padding: 2rem 0.5rem 1rem 0.5rem;
        text-align: left;
        border: 1px solid var(--border-action-low-beige-gris-galet);
        background: rgb(255, 255, 255);
        max-height: 0;
        transition: max-height 0.25s ease;
        -webkit-transition: max-height 0.25s ease;
        display: none;

        &.active {
            max-height: unset;
            display: block;
        }

        & menu {
            padding: 0;

            li {
                list-style-type: none;
                position: relative;

                & .custom-tile-menu--closer {
                    position: absolute;
                    top: -3rem;
                    right: 0px;
                    min-width: 10ch;
                }
            }
        }
    }

    & .fr-card .fr-card__img img {
        object-fit: contain;
    }

    & .fr-card .fr-card__body .fr-card__content .fr-card__title {
        font-size: 1.05rem;
        line-height: 1.5;
    }
}

[class^="fr-table__"],
table#table-candidats {
    width: 100% !important;
}

/* AUTOCOMPLETE CANDIDATS */
ul.suggest-candidat-list {
    position: absolute;
    z-index: 2;
    border: 1px solid;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin-top: 0;

    li {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        list-style-type: none;
        padding: 8px 12px;
        background: #fff;
        cursor: pointer;
        font-size: 14px;
    }
}

/* STATISTIQUES */
.stats-page {
    .stats-section {
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h4 {
        color: #333;
    }

    canvas {
        max-width: 100%;
    }

    .participation {
        text-align: center;
        font-size: 1.25em;
        margin-bottom: 20px;
    }
}

/* QR-CODE */
.qr-ctnr {
    padding: 1rem;
    border: 2px solid rgba(0, 0, 0, .25);
    border-radius: 6px;

    img {
        margin: 0 auto 1rem auto;
        display: block;
        width: 100px;
    }

    figcaption {
        text-align: center;
        position: relative;


        & button {
            display: contents;
            color: var(--text-action-high-blue-france);

            &:before {
                content: 'copié !';
                position: absolute;
                padding: 0.1rem 0.3rem;
                border-radius: 3px;
                font-size: 0.85rem;
                top: -1.5rem;
                opacity: 0;
                transition: opacity 0.3s ease;
            }

            &:active:before {
                opacity: 1;
            }

            & svg {
                max-height: 1rem;
            }
        }
    }
}